<% if activity.action_type == "Relationship" && activity.action.follower == @user %>
    <div class="media mb-4">
        <% if activity.action.followed.image?%>
            <%= image_tag activity.action.followed.image.url, class: "activity-item" %>
        <%else%> 
            <%= gravatar_for activity.action.followed, size: 70 %>
        <%end%>
        <div class="media-body ml-2">
            <h5><%= @user.name%> followed
                <%=link_to activity.action.followed.name,
                user_path(activity.action.followed),class: "badge badge-secondary"%>
            </h5>
            <span><%= time_ago_in_words(activity.created_at)%> ago</span>
        </div>
    </div>
<% elsif activity.action_type == "Relationship" && activity.action.followed == @user %>
        <div class="media mb-4"> 
        <% if activity.action.follower.image?%>
            <%= image_tag activity.action.follower.image.url, class: "activity-item" %>
        <%else%> 
            <%= gravatar_for activity.action.follower, size: 70 %>
        <%end%>
        <div class="media-body ml-2">
            <h5><%= @user.name %> followed 
                <%=link_to activity.action.follower.name,
                user_path(activity.action.follower),class: "badge badge-secondary"%>
            </h5>
             <span><%= time_ago_in_words(activity.created_at)%> ago</span>
        </div>
    </div>
<% end %>
