<% @users.each do |user| %>
    <aside class="col-md-6 px-5">
        <div class="media mb-5">
            <% if user.image? %>
                <%= image_tag user.image.url, class: "profile-item" %>
            <%else%>
                <%= gravatar_for user, size: 100 %>
            <%end%>
            <div class="media-body pl-5 mt-4">
                <h3><%= link_to user.name, user %></h3>
                <% if current_user == user %>
                    <%= link_to "Edit", edit_user_path(user), class: "btn btn-dark" %>
                <%else%>
                    <% if current_user.following?(user)%>
                        <%= render 'unfollow', user: user %>
                    <%else%>
                        <%= render 'follow', user: user %>
                    <%end%>
                <%end%>
            </div>
        </div>
    </aside>
<%end%>

