    <div class="row">
        <aside class="col-5">
            <div class="profile text-center mt-5">
            <% if @user.image? %>
                <%= image_tag @user.image.url %>
            <%else%>
                <%= gravatar_for @user %>
            <%end%>
            <hr/>
            <h3><%= @user.name %></h3>
            <p><%= @user.email %></p>
            <%= render 'stats_follow'%>
            <% unless current_user == @user %>
             <% if current_user.following?(@user)%>
                <%= render 'unfollow', user: @user %>
            <%else%>
                <%= render 'follow', user: @user %>
            <%end%> 
            <%end%>

            </div> 
        </aside>

        <div class="col-7">
            <div class="activity mt-3">
                <h2 class="text-center">ACTIVITY</h2>
                <% @activities.each do |activity| %>
                    <%= render "users/show_activity_lesson", activity: activity %>
                    <%= render "users/show_activity_relationship", activity: activity %> 
                <% end %>
            </div>
        </div>
    </div>
