<h1 class="lesson-title text-center">Lessons</h1>
<p class="text-center">Language Acquisition Tools page is a great place to start!</p>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <%= link_to "All", categories_path,
             class: "nav-link #{'active' if params[:status].nil? }"%>
    </li>
    <li class="nav-item">
        <%= link_to "Learned", categories_path(status: :learned), 
            class: "nav-link #{'active' if params[:status] == "learned" }"%>
    </li>
    <li class="nav-item">
        <%= link_to "Not laernd", categories_path(status: :anlearned), 
            class: "nav-link #{'active' if params[:status] == "anlearned" }"%>
    </li>
</ul>
<%= will_paginate @categories %>
<div class="row lesson-object">
    <% @categories.each do |category|%>
        <% if category.words.count > 0 %>
            <div class="col-md-5 mx-auto mt-4">
                <article class="card h-100 p-1 border-0">
                    <div class="card-body">
                        <% if lesson(category) && category.words == lesson(category).words %>
                            <div class="badge badge-secondary float-right">
                                Scored <%= lesson(category).result %> of <%= category.words.count%>
                            </div>
                        <%end%>
                        <h3 class="category-title"><%= category.title %></h3>
                        <h5><%= category.description %></h5>
                        <h5>[ <%= category.words.count %> words]</h5>
                        <% if lesson(category) && category.words == lesson(category).words %>
                            <%= link_to "Show result", lesson_path(lesson(category)),
                                                    class: "btn btn-outline-secondary btn-block"%>
                        <%else%>
                            <%= form_for current_user.lessons.build do |f| %>
                                <%= hidden_field_tag :category_id, category.id %>
                                <%= f.submit "Learn", class: "btn btn-primary btn-block"%>
                            <%end%>
                        <%end%>
                    </div>
                </article>    
            </div>
        <%end%>
    <%end%> 
    </div>
</div>


