<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light w-75 mx-auto">
    <%= link_to "Language Acquisition", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <%= link_to "Home", root_path, class: "nav-itm nav-link"%>
        <%= link_to "Users", "#", class: "nav-item nav-link"%>
        <%= link_to "Lessons", "#", class: "nav-item nav-link"%>
        <%= link_to "Dashboard", "#", class: "nav-item nav-link"%>
        <%= link_to "Logout", "#", class: "nav-item nav-link"%>

      </ul>
    </div>
  </nav>
</header>